<!DOCTYPE HTML>
<html>
	<head>
		<title>Welcome !</title>
	</head>
	<body>
		<h1>Welcome, internaut ! You're surfing the homepage.</h1>
		<h3>My post :</h3>
		{% for title in titles %}
    		<a href="{% url "article" title %}">{{ title }}</a>
			<br>
		{% endfor %}
	</body>
</html>
